<template>
  <svg height="36" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg"><title>typo-white</title><path d="M115 135h.997H115zm-79 0h-6c-5.523 0-10-4.477-10-10V38.98c0-5.522 4.477-10 10-10a10 10 0 0 1 7.072 2.93l48.3 48.312 36.927-44.584a10 10 0 0 1 7.701-3.62c5.523 0 10 4.476 10 10V125c0 5.523-4.477 10-10 10H36zm0-15h16.424l21.554-26.022L36 56v64zm38.282 0H123V63l-48.718 57z" fill="#FFF" fill-rule="evenodd"/></svg>
</template>
<script>
export default {
  name: 'Logo',
};
</script>
